.box {
    /* menggunakan rgb format */
    border-color: rgb(80, 138, 212);

    /* menggunakan format hex */
    border-color: #4ee717;

    /* menggunakan nama warna */
    border-color: red;
}

.box {
    border-top-color: #919191;
    border-right-color: #111111;
    border-bottom-color: #4ee717;
    border-left-color: #00c8eb;
}

.box {
    border-color: #919191 #111111 #4ee717 #00c8eb;
}